*{
    box-sizing: border-box;
}

.recherche{
    display: inline-block;
    background-color: #00000029;
    box-shadow: 1px 2px 2px #000;
}

.recherche__input{
    font-size: 14px;
    display: inline-block;
    background-color: transparent;
    padding: 10px 40px 10px 10px;
    border: none;
    vertical-align: top;
}


.recherche__input:focus{
    outline: none;
    background-color: #ffffff25;
}

.recherche__input::placeholder{
    color: #fff;
    font-weight: bold;
}

.recherche__img{
    display: inline-block;
    vertical-align: top;
    margin: 8px;
}

.recherche__img:hover{
    background-color: #ffffff25;
}