*{
    box-sizing: border-box;
}

html{
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    margin: 0;
    padding: 0;
    box-shadow: 0 2px 10px #000;
    background-color: rgb(17, 17, 55);
}

.centre{   
    max-width: 1100px;
    margin: 0 auto;
    border: 1px solid #aaaaaa00;
    background-color: rgba(255, 255, 255, 0.4);
}

.haut, .bas{
    background-color: rgb(165, 93, 42);
}

.millieu{
    background-color: rgb(61, 151, 164);
}

h1, h2, h3{
    margin-top: 0;
    margin-bottom: 0;
}

/* entete */

.entete{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 30px 15px;
}

.entete__titre h1{
    margin: 0;
    font-size: 4.5rem;
    text-shadow: rgb(103, 100, 154) 2px 2px 4px;
}

.entete__titre h2{
    margin: 0;
}

.entete__navigation{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.entete__navigation nav a{
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    padding: 3px 8px;
    color: aliceblue;
}

.entete__navigation nav a:hover{
    background-color: #353535ad;
}


/* principal */

.principal{
    padding: 15px;
    font-weight: bold;
}

.principal h2{
    font-size: 35px;
}

.principal__section{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.principal__article{
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 340px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 2%;
}

.principal__article h3{
    font-size: 30px;
}

.principal__article code{
   font-style: italic;
}

.article__figure{
    padding: 5px;
    object-fit: contain;
    margin: 0;
}

.article__image{
    width: 100%;
}

.article__figcaption{
    font-size: 12px;
    padding-left: 5px;
}


/* pied de page */

ul, li{
    list-style: none;
    line-height: 25px;
    padding: 0;
    margin: 0;
}

.lien__a{
    color: inherit;
    line-height: 25px;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.lien__a:hover{
    color: #ccc;
    text-decoration: underline;
}

.pied{
    padding: 15px;
}

.pied div{
    padding: 20px 0;
}

.pied__div{
    color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.pied__div_3{
    display: flex;
    justify-content: center;
}

.pied__titre{
    padding-bottom: 20px;
}

.pied__section{
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 230px;
}

.pied__section__grow2{
    flex-grow: 2;
    flex-shrink: 0;
    flex-basis: 480px;
}

address{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.pied__figure{
    margin: 0;
}

.figure__image{
    max-width: 100%;
}

.pied__jaune{
    color: yellow;
}

.figure__college{
    margin: 0;
    object-fit: contain;
}

figcaption{
    padding-top: 10px;
}

.logo__espacement{
    margin: 0 20px;
}